::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #d4d5d6;
}

.adminpage {
  max-width: 1400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.transactions {
  max-width: auto;
  padding: 10px 3rem;
  background-color: #fff;
}

.transactions h2 {
  color: #495057;
  width: 100px;
  margin: 20px auto;
}

.transactionslist {
  width: 26rem;
  height: 80vh;
  border-collapse: collapse;
  font-size: 12px;
  color: #495057;
  overflow: auto;
}

.transactionslist thead {
  background-color: rgb(160, 189, 219);
}

.transactionslist table {
  border-collapse: collapse;
}

.transactionslist th,
.transactionslist td {
  padding: 14px 16px;
  text-align: left;
  border-bottom: 0.5px solid #adb5bd;
  width: 8rem;
}

.details {
  display: grid;
  grid-template-columns: 20rem 20rem;
  grid-template-rows: 1fr 1fr 1fr;
  justify-content: center;
  column-gap: 80px;
  row-gap: 35px;

  width: 52rem;
  height: 42rem;
  padding: 1rem 1rem;
  background-color: #fff;
  border-radius: 16px;
  overflow: auto;
}

.sales {
  background-color: #e7f5ff;
  font-size: 24px;
  color: #343a40;
  border-radius: 16px;
  height: 15rem;
  width: 20rem;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.1);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.sales h2 {
  font-size: 20px;
  margin-top: 80px;
}

.quantity {
  background-color: #fff5f5;
  color: #343a40;
  font-size: 24px;
  border-radius: 16px;
  height: 15rem;
  width: 20rem;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.1);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.quantity h2 {
  font-size: 20px;
  margin-top: 80px;
}

.graph {
  width: 600px;
}

.totalsales {
  background-color: #4dabf7;
  width: inherit;
  padding: 16px 4px;
  text-align: center;
  border-bottom-right-radius: 16px;
  border-bottom-left-radius: 16px;
}

.totalquantity {
  background-color: #ff8787;
  width: inherit;
  padding: 16px 4px;
  text-align: center;
  border-bottom-right-radius: 16px;
  border-bottom-left-radius: 16px;
}

.expiredproducts th,
.expiredproducts td {
  border: 1px solid grey;
  padding: 1rem 1rem;
}

.expiredproducts {
  font-size: 20px;
  grid-column: 1/3;
}

.expiredproducts table {
  border-collapse: collapse;
}

.expiredproducts h1 {
  color: red;
}

@media (max-width: 70em) {
  .adminpage {
    max-width: 1400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

    gap: 2rem;
  }
}

@media (max-width: 26em) {
  .transactionslist {
    width: 20rem;
    height: 60vh;
  }

  .details {
    display: grid;
    grid-template-columns: 10rem 10rem;
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: center;
    column-gap: 60px;
    row-gap: 15px;

    width: 37rem;
    height: 27rem;
    padding: 1rem 1rem;
    background-color: #fff;
    border-radius: 16px;
    overflow: auto;
  }

  .sales {
    background-color: #e7f5ff;
    font-size: 14px;
    color: #343a40;
    border-radius: 16px;
    height: 10rem;
    width: 13rem;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.1);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .quantity {
    background-color: #fff5f5;
    color: #343a40;
    font-size: 14px;
    border-radius: 16px;
    height: 10rem;
    width: 13rem;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.1);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .graph {
    width: 500px;
  }
}
