.adminheader {
  font-size: 20px;
  font-weight: 600;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 12px;
  border-bottom: 1px solid #ced4da;
}

.adminheader a {
  margin-left: 4rem;
  text-decoration: none;
  color: #1c7ed6;
  transition: all 0.4s;
}

.logout {
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  background-color: #f03e3e;
  border: none;
  cursor: pointer;
  color: #fff;
  padding: 8px 12px;
  border-radius: 12px;
  width: 6rem;
  height: 2.5rem;
  margin-right: 10rem;
}

.adminheader a:hover {
  color: #0c4d85;
}

.adminheader [class='active'] {
  padding: 5px 0;
  border-bottom: 1.5px solid rgb(38, 95, 186);
}

.btnmobilenav {
  border: none;
  background: none;
  cursor: pointer;

  display: none;
}

.iconmobilenav {
  height: 4.8rem;
  width: 4.8rem;
  color: #333;
}

.iconmobilenav[name='close-outline'] {
  display: none;
}

@media (max-width: 70em) {
  .btnmobilenav {
    display: block;
    z-index: 1;
  }

  .leftnav {
    background-color: rgba(249, 249, 249, 0.968);
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 70%;

    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5rem;

    padding: 6rem 10rem 0 3rem;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    transform: translateX(-100%);
    transition: all 0.5s ease-in;
  }

  .navopen .leftnav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }

  .navopen .iconmobilenav[name='close-outline'] {
    display: block;
  }

  .navopen .iconmobilenav[name='menu-outline'] {
    display: none;
  }

  .logout {
    margin-right: 2rem;
  }
}

@media (max-width: 26em) {
  .logout {
    margin-right: 1rem;
  }
}
