.adminheader {
  font-size: 20px;
  font-weight: 600;

  display: flex;
  gap: 50rem;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 12px;
  border-bottom: 1px solid #ced4da;
}

.adminheader a {
  margin-left: 4rem;
  text-decoration: none;
  color: #1c7ed6;
  transition: all 0.4s;
}

.adminheader button {
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  background-color: #f03e3e;
  border: none;
  cursor: pointer;
  color: #fff;
  padding: 8px 12px;
  border-radius: 12px;
  width: 6rem;
  height: 2.5rem;
}

.adminheader a:hover {
  color: #0c4d85;
}

.adminheader [class="active"] {
  padding: 5px 0;
  border-bottom: 1.5px solid rgb(38, 95, 186);
}
