.attendantheader {
  font-size: 20px;
  font-weight: 700;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 32px;
  padding-bottom: 12px;
  border-bottom: 1px solid #ced4da;
}

.attendantheader a {
  margin-left: 4rem;

  text-decoration: none;
  color: #1c7ed6;
}

.attendantheader a:hover {
  color: #0c4d85;
}

.attendantheader [class='active'] {
  padding: 4px 0;
  border-bottom: 1.5px solid rgb(38, 95, 186);
}

.btnmobilenav {
  border: none;
  background: none;
  cursor: pointer;

  display: none;
}

.iconmobilenav {
  height: 4.8rem;
  width: 4.8rem;
  color: #333;
}

.iconmobilenav[name='close-outline'] {
  display: none;
  z-index: 1;
}

@media (max-width: 70em) {
  .attendantheader a {
    margin-left: 2rem;
  }
}
