* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background: #dee2e6;
}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 14rem auto;
}

.login a {
  text-decoration: none;
}

.login button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  font-size: 1rem;
  font-weight: bold;
  background-color: #12b886;
  border: none;
  cursor: pointer;
  color: #fff;
  padding: 1px 12px;
  border-radius: 10px;
  height: 2.5rem;
}

[name='arrow-forward-outline'] {
  width: 1.5rem;
  height: 1.5rem;
}

.logo {
  stroke: #1c7ed6;
  width: 5rem;
}

.login p {
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 1rem;
}
