.loginpage {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bgimg {
  width: 50%;
  height: 100vh;
  position: relative;
}

.loginpage .bgimg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.loginform {
  display: flex;
  align-items: center;
  gap: 4rem;
  flex-direction: column;
  flex-grow: 1;
}

.loginform form {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  justify-content: center;
  align-items: center;
}

.loginform button {
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  background-color: #12b886;
  border: none;
  cursor: pointer;
  color: #fff;
  padding: 8px 12px;
  border-radius: 10px;
  width: 10rem;
  height: 3.5rem;
}

.loginform input {
  font-size: 16px;
  width: 25rem;
  height: 4rem;
  padding: 10px 10px;
  border: 0.1px solid gray;
  border-radius: 10px;
}

.icon {
  width: 10rem;
}

.loginform input:focus {
  outline: none;
  border-bottom: 3px solid #55c57a;
}
.loginform input:focus:invalid {
  border-bottom: 3px solid #ff7730;
}
