.loginpage form {
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 32px;
  justify-content: center;
  align-items: center;
}

.loginpage button {
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  background-color: #1c7ed6;
  border: none;
  cursor: pointer;
  color: #fff;
  padding: 8px 12px;
  border-radius: 96px;
  width: 6rem;
  height: 3rem;
}

.loginpage input {
  font-size: 18px;
  width: 16rem;
  height: 3.5rem;
  padding: 10px 10px;
  border: 0.1px solid gray;
  border-radius: 10px;
}
