.stocktable {
  margin: 30px 100px;
  width: 36rem;
  height: 80vh;
  border-collapse: collapse;
  font-size: 12px;
  color: #495057;
  overflow: auto;
  font-size: 16px;
}

.stocktable thead {
  background-color: #2b8a3e;
  color: #fff;
}

.stocktable table {
  border-collapse: collapse;
  width: 25rem;
}

.stocktable th,
.stocktable td {
  padding: 14px 16px;
  text-align: left;
  border-bottom: 0.5px solid #adb5bd;
  width: 8rem;
}

.stocktable .evenrow {
  background-color: #f1f3f5;
}

.stocktable .oddrow:nth-child(odd) {
  color: #2f9e44;
}
