.stocktable {
  margin: 0px 100px;
  width: 36rem;
  /* height: 80vh; */
  border-collapse: collapse;
  font-size: 12px;
  color: #495057;
  /* overflow: auto; */
  font-size: 16px;
}

.stockcontent {
  height: 75vh;
  overflow: auto;
}

.stocktable .stockitem {
  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: #fff;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
}

.stockheader {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 20px;
  margin: 0 8px;
}

@media (max-width: 70em) {
  .stocktable {
    margin: 0;
  }
}

@media (max-width: 655px) {
  .stocktable {
    width: 20rem;
  }
}
