.attendanttransact {
  margin: 40px 0;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 3rem 3rem;
  justify-items: center;
}

.transact {
  grid-column: 2;
}

.searchproduct {
  grid-row: 1 / -1;
}

.formtransact {
  max-height: 3rem;
  font-size: 1rem;

  display: flex;
  align-items: center;
  gap: 1rem;
}

.searchproduct label {
  font-size: 1rem;
}

.searchproduct input {
  font-size: 16px;
  width: 25rem;
  height: 2rem;
  padding: 10px 10px;
  border: 0.1px solid gray;
  border-radius: 16px;
}

.searchresult {
  font-size: 1rem;
  line-height: 2rem;

  margin: 5px;
  background-color: #fff;
  padding: 20px 20px;
  border-radius: 14px;
  cursor: default;
}

/* .formtransact label {
  font-size: 1rem;
  margin-right: 1rem;
} */

.formtransact input {
  font-size: 16px;
  width: 10rem;
  height: 1.5rem;
  padding: 10px 10px;
  border: 0.1px solid gray;
  border-radius: 6px;
}

.formtransact button {
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  background-color: #2f9e44;
  border: none;
  cursor: pointer;
  color: #fff;
  padding: 4px 6px;
  border-radius: 8px;
  width: 5rem;
  height: 2rem;
  margin-left: 20px;
}

.transact {
  font-size: 1rem;
  line-height: 3rem;
}

.transact button {
  display: inline-block;
  cursor: pointer;
  background-color: transparent;
  border: none;

  /* padding: 1px 1px;
  border: 0.5px solid #000;
  border-radius: 50%; */
  /* background-color: #f8f9fa;
  width: 8rem;
  height: 2rem; */
}

.btnprint {
  background-color: #0c8599 !important;
  color: #fff;
  padding: 4px 16px;
  font-size: 1rem;
  border-radius: 6px;
  height: 2rem;
}

[name='trash-outline'] {
  position: relative;
  top: 0.3rem;
  width: 1.5rem;
  height: 1.5rem;
}

.saleslist {
  width: 25rem;
}

.saleslist table {
  border-collapse: collapse;
}

.saleslist th,
.saleslist td {
  padding: 4px 16px;
  text-align: left;
  border-bottom: 0.5px solid #adb5bd;
  width: 8rem;
}

.saleslist h2 {
  text-align: left;
  margin-left: 1rem;
}

@media (max-width: 70em) {
  .attendanttransact {
    margin: 40px 0;

    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;

    gap: 2rem;
  }

  .formtransact {
    display: flex;
    align-items: flex-end;
    flex-direction: column;

    margin-bottom: 2rem;
  }
}
